<form method="POST" action="{% url 'survey' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset> 
        <!-- Contact Information -->  
        <legend><h1>Contact Information:</h1></legend>
        <div class = "fieldWrapper">
            First Name:
            <br>
            {{ form.first_name }}
        </div>
        <div class = "fieldWrapper">
            Last Name:
            <br>
            {{ form.last_name }}
        </div>
        <div class = "fieldWrapper">
            Full Name including degrees/designations to be listed on web-site and directory
            <br>
            {{ form.suffix }}
        </div>
        <div class = "fieldWrapper">
            University Email addresss (.edu):
            <br>
            {{ form.email }}
        </div>      
        <div class = "fieldWrapper">
            Current status at Marquette or UW-Milwaukee? 
            <br>
            {{ form.status }}
        </div>  
        <div class = "fieldWrapper">
            For Visiting Faculty, add years at this university and name of home university. 
            For adjunct, add years serving as an adjunct for this university and place of regular employment. 
            For other, describe your role.
            <br>
            {{ form.status_desc }}
        </div>

    </fieldset>
    <fieldset>
        <legend><h1>Detailed Information:</h1></legend>
        <div class = "fieldWrapper">
            University:
            <br>
            {{ form.university }}
        </div>
        <div class = "fieldWrapper">
            If you selected other, please let us know your University or Company affiliation.
            <br>
            {{ form.university_desc }}
        </div>
        <div class = "fieldWrapper">
            School and/or Department (e.g. ABC College of Business, Department of Marketing)
            <br>
            {{ form.department }}
        </div>
        <div class = "fieldWrapper">
            Title (as used for university related business):
            <br>
            {{ form.university_title }}
        </div>
        <div class = "fieldWrapper">
            University Profile or Directory URL:
            <br>
            {{ form.university_link }}
        </div>
        <div class = "fieldWrapper">
            Your Semantic Scholar profile URL:
            <br>
            {{ form.semantic_scholar }}
        </div>
        <div class = "fieldWrapper">
            Your Google Scholar profile URL:
            <br>
            {{ form.google_scholar }}
        </div>
        <div class = "fieldWrapper">
            Research Tagline:
            <br>
            {{ form.research_tagline }}
        </div>
        <div class = "fieldWrapper">
            Research Description:
            <br>
            {{ form.research_description }}
        </div>
        <div class = "fieldWrapper">
            How many data science related research projects do you expect to work on in 2020 as PI, co-PI, or significant contributor?
            <br>
            {{ form.research_count }}
        </div>
        <div class = "fieldWrapper">
            Research Examples:
            <br>
            {{ form.research_example }}
        </div>
        <div class = "fieldWrapper">
            Data Science Related Classes:
            <br>
            Class 1: {{ form.data_science_class_1 }}
            Class 2: {{ form.data_science_class_2 }}
            Class 3: {{ form.data_science_class_3 }}
        </div>
    </fieldset> 
    <input type="submit" value="Submit">
</form>